<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Events
    </div>
  </div>

  <div class="card-body">
    <div id="statistics" class="row">
      <!-- https://demo.dashboardpack.com/architectui-html-pro/widgets-chart-boxes.html -->
      <div class="col-md-4">
        <div class="card mb-3 bg-primary widget-chart text-white card-border">
          <div class="widget-numbers"><%= @upcoming_events %></div>
          <div class="widget-subheading">Upcoming Events</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-3 bg-success widget-chart text-white card-border">
          <div class="widget-numbers"><%= @institutes_involved %></div>
          <div class="widget-subheading">Institutes Involved</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-3 bg-warning widget-chart text-white card-border">
          <div class="widget-numbers"><%= @fields_covered %></div>
          <div class="widget-subheading">Spanning Area of Interests</div>
        </div>
      </div>
    </div>

    <div class='filters'>
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_title, 'Search by Title' %>
          <%= f.text_field :with_title, class: "form-control"%>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_institute, 'Search by Institute' %>
          <%= f.text_field :with_institute, class: "form-control" %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_fields, 'Search by Relevant Fields' %>
          <%= f.text_field :with_fields, class: "form-control" %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_description, 'Search by Description' %>
          <%= f.text_field :with_description, class: "form-control"  %>
        </div>

        <!-- TODO: Add a check box for certification, a date range picker for
          start and end dates -->

        <div>
          <%= f.submit 'Search', class: "mb-2 mr-2  btn btn-primary"  %>
      <% end %>
      </div>

      <div class='list'>
        <table>
          <thead>
          <tr>
            <th>Title</th>
            <th>Institute</th>
            <th>Certified</th>
            <th>Price</th>
            <th>Fields</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
          </thead>

          <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.title, event_path(event) %></td>
              <td><%= event.institute.name %></td>
              <td><% if event.certification %>Yes<% else %>No<% end %></td>
              <td>Rs. <%= event.price %></td>
              <td><%= event.fields.join(',') %></td>
              <td><%= pretty_date(event.start_date) %></td>
              <td><%= pretty_date(event.end_date) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= render partial: 'partials/pagination', locals: {objects: @events} %>
    </div>
  </div>
</div>
