<%= form_with(model: paper, local: true) do |form| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :journal_link %>
    <%= form.text_field :journal_link %>
  </div>

  <div class="field">
    <%= form.label :institute_id %>
    <%= form.text_field :institute_id %>
  </div>

  <div class="field">
    <%= form.label :fields %>
    <%= form.text_area :fields %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_area :abstract %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
