<p id="notice"><%= notice %></p>
<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Search Papers
    </div>
  </div>
  <div class="card-body">
    <div id='featured-paper'>
      <%# Featured Paper is stored as `@featured_paper` %>
      <%= @featured_paper.abstract %>
    </div>

    <div class='filters'>
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_journal_link, 'Search by Journal Link' %>
          <%= f.text_field :with_journal_link, class: "form-control"%>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_institute, 'Search by Institute' %>
          <%= f.text_field :with_institute, class: "form-control" %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_fields, 'Search by Relevant Fields' %>
          <%= f.text_field :with_fields, class: "form-control" %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_abstract, 'Search by Abstract' %>
          <%= f.text_field :with_abstract, class: "form-control"  %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_author, 'Search by Author' %>
          <%= f.text_field :with_author, class: "form-control" %>
        </div>

        <div>
          <%= f.submit 'Search', class: "mb-2 mr-2  btn btn-primary"  %>
      <% end %>
      </div>

      <div class='list'>
        <table class="mb-0 table table-striped table-hover">
          <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>

            <th>Institute</th>
            <th>Fields</th>
            <th>Journal link</th>
          </tr>
          </thead>

          <tbody>
          <% @papers.each do |paper| %>
            <tr>
              <td><%= link_to paper.title, paper_path(paper) %></td>
              <td><%= paper.user.name %></td>

              <td><%= paper.institute.name %></td>
              <td><%= paper.fields %></td>
              <td><%= link_to 'Journal Link', paper.journal_link, class: "mb-2 mr-2  btn btn-primary btn-sm"  %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= render partial: 'layouts/pagination', locals: {objects: @papers} %>
    </div>
  </div>
</div>