<p id="notice"><%= notice %></p>
<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Papers Information
    </div>
  </div>
  <div class="card-body">
    <p>
  </div>
  <strong>User:</strong>
</div>    <%= @paper.user %>
</p>

<p>
  <strong>Journal link:</strong>
  <%= @paper.journal_link %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @paper.institute %>
</p>

<p>
  <strong>Fields:</strong>
  <%= @paper.fields %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @paper.abstract %>
</p>


<%= link_to 'Back', papers_path %>



