<p id="notice"><%= notice %></p>
<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Papers Information
    </div>
    <div style="margin-left: auto">


      <%= link_to 'Back', papers_path, class: "mb-2 mr-2  btn btn-primary"  %>
    </div>
  </div>
  <div class="card-body">
    <p>
      <strong>User:</strong>
      <%= @paper.user %>
    </p>

    <p>
      <strong>Journal link:</strong>
      <%= @paper.journal_link %>
    </p>

    <p>
      <strong>Institute:</strong>
      <%= @paper.institute %>
    </p>

    <p>
      <strong>Fields:</strong>
      <%= @paper.fields %>
    </p>

    <p>
      <strong>Abstract:</strong>
      <%= @paper.abstract %>
    </p>



  </div>
</div>



