<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Grant
    </div>
  </div>
  <div class="card-body">
    <div class="statistics row">
      <div class="col-md-4">
        <div class="card mb-3 bg-primary widget-chart text-white card-border">
          <div class="widget-numbers"><%= @grants_count %></div>
          <div class="widget-subheading">Total Grants</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-3 bg-success widget-chart text-white card-border">
          <div class="widget-numbers"><%= @grants_this_year %></div>
          <div class="widget-subheading">Grants ending this year</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-3 bg-warning widget-chart text-white card-border">
          <div class="widget-numbers"><%= @fields_covered %></div>
          <div class="widget-subheading">Spanning Area of Interests</div>
        </div>
      </div>
    </div>

    <div class='filters'>
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_title, 'Search by Title' %>
          <%= f.text_field :with_title, class: "form-control"%>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_description, 'Search by Description' %>
          <%= f.text_field :with_description, class: "form-control" %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_fields, 'Search by Relevant Fields' %>
          <%= f.text_field :with_fields, class: "form-control" %>
        </div>

        <!-- A Date picker -->

        <div>
          <%= f.submit 'Search', class: "mb-2 mr-2  btn btn-primary"  %>
      <% end %>
    </div>

    <div class='list'>
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th>Fields</th>
          <th>Amount</th>
          <th>Submission Deadline</th>
        </tr>
        </thead>

        <tbody>
        <% @grants.each do |grant| %>
          <tr>
            <td><%= link_to grant.title, grant_path(grant) %></td>
            <td><%= grant.fields.join(', ') %></td>
            <td>Rs. <%= grant.amount %></td>
            <td><%= pretty_date(grant.submission_deadline) %></td>
           </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: 'partials/pagination', locals: {objects: @collaborations} %>
  </div>
</div>

