<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @grant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grant.description %>
</p>

<p>
  <strong>Submission deadline:</strong>
  <%= @grant.submission_deadline %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @grant.amount %>
</p>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
