<p id="notice"><%= notice %></p>
<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Grant Information
    </div>
    <div style="margin-left: auto">

      <%= link_to 'Back', grants_path, class: "mb-2 mr-2  btn btn-primary"  %>
    </div>
  </div>

  <div class="card-body">
    <p>
      <strong>Title:</strong>
      <%= @grant.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @grant.description %>
    </p>

    <p>
      <strong>Submission deadline:</strong>
      <%= @grant.submission_deadline %>
    </p>

    <p>
      <strong>Amount:</strong>
      <%= @grant.amount %> INR
    </p>



  </div>
</div>
