<p id="notice"><%= notice %></p>
<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Collaboration Requests
    </div>
    <div style="margin-left: auto">
      <%= link_to 'New Collaboration Request', new_collaboration_path, class: "mb-2 mr-2  btn btn-primary"  %>
    </div>

  </div>
  <div class="card-body">
    <table>
      <thead>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>Description</th>
        <th>Fields</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @collaborations.each do |collaboration| %>
        <tr>
          <td><%= collaboration.user %></td>
          <td><%= collaboration.title %></td>
          <td><%= collaboration.description %></td>
          <td><%= collaboration.fields %></td>
          <td><%= link_to 'Show', collaboration, class: "mb-2 mr-2  btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_collaboration_path(collaboration), class: "mb-2 mr-2 btn-transition btn btn-outline-warning" %></td>
         </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



<br>

