<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-midnight-bloom">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Possible Collaborations</div>
          <div class="widget-subheading"><%= WEB_DEFAULTS[:website_name] %> Registered Researchers</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span><%= @collaborations_count %></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-arielle-smile">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">

          <div class="widget-heading">Research Scholars Involved</div>
          <div class="widget-subheading">Researchers on <%= WEB_DEFAULTS[:website_name] %></div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span><%= @scholar_count %></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-grow-early">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Research Interests</div>
          <div class="widget-subheading">Spanning Area of Interests</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span><%= @fields_covered %></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      Collaboration Requests
    </div>
    <div style="margin-left: auto">
      <%= link_to 'New Collaboration Request', new_collaboration_path, class: "mb-2 mr-2  btn btn-primary" %>
    </div>
  </div>
  <div class="card-body">
    <div class='filters'>
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_title, 'Search by Title' %>
          <%= f.text_field :with_title, class: "form-control" %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_description, 'Search by Description' %>
          <%= f.text_field :with_description, class: "form-control" %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_fields, 'Search by Relevant Fields' %>
          <%= f.text_field :with_fields, class: "form-control" %>
        </div>

        <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
          <%= f.label :with_author, 'Search by Creator' %>
          <%= f.text_field :with_author, class: "form-control" %>
        </div>

        <div style="margin-top: 2em">
          <%= f.submit 'Search', class: "mb-2 mr-2  btn btn-primary" %>
        </div>
      <% end %>

      <div class='list'>
        <table class="mb-0 table table-striped table-hover">
          <thead>
          <tr>
            <th>Title</th>
            <th>Created By</th>
            <th>Description</th>
            <th>Fields</th>
          </tr>
          </thead>

          <tbody>
          <% @collaborations.each do |collaboration| %>
            <tr>
              <td><%= link_to collaboration.title, collaboration_path(collaboration) %></td>
              <td><%= collaboration.user.name %></td>
              <td><%= collaboration.description %></td>
              <td><%= collaboration.fields.join(', ') %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= render partial: 'partials/pagination', locals: {objects: @collaborations} %>
    </div>
  </div>
</div>

