<p id="notice"><%= notice %></p>

<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="card-title">
      <%= @collaboration.title %>
    </div>
    <div style="margin-left: auto">

      <% if current_user == @collaboration.user %>
        <%= link_to 'Edit', edit_collaboration_path(@collaboration), class: "mb-2 mr-2 btn-transition btn btn-outline-warning" %>
      <% else %>
        <%= link_to 'Contact', conversations_path(inviter_id: current_user.id, invitee_id: @collaboration.user.id), method: :post, class: 'mb-2 mr-2 btn-transistion btn btn-outline-warning' %>
        <%= link_to 'Profile', users_path(@collaboration.user), class: 'mb-2 mr-2 btn-transistion btn btn-outline-success' %>
      <% end %>
      <%= link_to 'Back', collaborations_path, class: "mb-2 mr-2  btn btn-primary" %>
    </div>
  </div>

  <div class="card-body">
    <p>
      <strong>By:</strong>
      <%= @collaboration.user.name %>
    </p>

    <p>
      <strong>Fields:</strong>
      <%= @collaboration.fields.join(',') %>
    </p>

    <p>
      <%= @collaboration.description %>
    </p>
  </div>
</div>
