<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>
<head>
  <title><%= WEB_DEFAULTS[:website_name] %>- <%= WEB_DEFAULTS[:website_full] %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/main/assets/css/main.css" />
  <style>
    .field{
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  </style>
  <noscript><link rel="stylesheet" href="/main/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="/"><%= WEB_DEFAULTS[:website_name] %></a></h1>
    <nav>
      <a href="/">Home</a>
      <%= link_to 'Log In',new_user_session_path %>
      <%= link_to 'Sign Up', new_user_registration_path %>
    </nav>
  </header>

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <div class="logo"><span class="icon fa-gem"></span></div>
      <h2><%= WEB_DEFAULTS[:website_name] %></h2>
      <p><%= WEB_DEFAULTS[:website_description] %></p>
    </div>
  </section>

  <!-- Wrapper -->
  <section id="wrapper">

    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
      <div class="inner">
        <!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a> -->
        <div class="content">
          <h2 class="major">Collaboration</h2>
          <p>Our platform helps researchers find the perfect collaborator to expand their range and abilites.</p>
          
        </div>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
      <div class="inner">
        <!-- <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a> -->
        <div class="content">
          <h2 class="major">Events</h2>
          <p>We understand that research is all about staying up-to-date.
            Stay informed about the upcoming events on topics important to you, hosted by some of the most prestigious colleges</p>
          
        </div>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
      <div class="inner">
        <!-- <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a> -->
        <div class="content">
          <h2 class="major">Papers</h2>
          <p>Papers are one of the easiest ways to understand hard concepts. Learn and read about recent papers, published by hard working scholars just like you.</p>
          
        </div>
      </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper alt spotlight style1">
      <div class="inner">
        <!-- <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a> -->
        <div class="content">
          <h2 class="major">Grants</h2>
          <p>Get in touch with top universities and institutes to win attractive grants and sponsporships.</p>
          
        </div>
      </div>
    </section>
    <!--
    <section id="four" class="wrapper alt style1">
      <div class="inner">
        <h2 class="major">Sign Up</h2>
        <div class="fields">
          <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="John Doe" />
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="john@doe.com" />
          </div>

          <div class="field">
            <label for="name">University</label>
            <input type="text" name="name" id="name" placeholder="National Institute of Technology Rourkela"/>
          </div>
          <a href="#" class="button primary">Sign Up!</a>
          <a href="#" class="button">Login</a>
      </div>
      </div>
    </section>
    -->

  </section>

  <!-- Footer -->
  <section id="footer">
    <div class="inner">
      <!--
      <h2 class="major">Get in touch</h2>
      <p>We'd love to hear from you!</p>
      <ul class="contact">
        <li class="icon solid fa-home">
          Untitled Inc<br />
          1234 Somewhere Road Suite #2894<br />
          Nashville, TN 00000-0000
        </li>
        <li class="icon solid fa-phone">(000) 000-0000</li>
        <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
        <li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
        <li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
        <li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
      </ul>
      -->
      <ul class="copyright">
        <li>&copy; NIT Conclave 2019 Hackathon Project by <a href="https://abhishek2718.github.io">Abhishek Kumar</a>, <a href="https://nirmalhk7.github.io">Nirmal Khedkar</a>.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </section>

</div>

<!-- Scripts -->
<script src="/main/assets/js/jquery.min.js"></script>
<script src="/main/assets/js/jquery.scrollex.min.js"></script>
<script src="/main/assets/js/browser.min.js"></script>
<script src="/main/assets/js/breakpoints.min.js"></script>
<script src="/main/assets/js/util.js"></script>
<script src="/main/assets/js/main.js"></script>

</body>
</html>
