<!DOCTYPE html>
<html>
<head>
  <title><%= WEB_DEFAULTS[:website_name] %>- <%= WEB_DEFAULTS[:website_full] %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Lobster&display=swap" rel="stylesheet">

</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

  <%= render :partial => "partials/navbar" %>
  <div class="app-main">

    <!-- NIRMAL SIDEBAR -->

      <div class="app-main__outer" style="padding-left: 0em!important;">
        <div class="app-main__inner" style="padding-left: 2em!important;">

          <%= yield %>

        </div>

        <%= render :partial => "partials/footer" %>
      </div>
  </div>
</div>
<script type="text/javascript" src="./assets/scripts/main.js"></script>

</body>
</html>
